.list-wrap {
  display: grid;
  grid-template-columns: repeat(5, 19%);
  grid-gap: 10px;
  transition: all 0.5s ease;
}
.submit .large {
  background-color: #827ffe;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.wrap-input {
  width: auto;
  position: relative;

  margin-bottom: 16px;
  input[type="password"],
  input[type="email"],
  input[type="text"] {
    color: #403866;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    background: transparent;
    height: 62px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0 20px 0 38px;
    &:focus {
      outline: none;
    }
  }
}
.main-wrap{
	max-width: 1200px;
	margin: 0 auto;
}
.main-title{
	font-size: 40px;
	font-family: "Helvetica Neue", sans-serif;
	margin-top: 50px;
}
body{
	margin: 0;
}